services:
  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - ./:/var/www
      - ./docker/conf/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${NGINX_PORT}:80"
    restart: always
    depends_on:
      - php-fpm
      - postgres
    networks:
      - app-network

  php-fpm:
    container_name: php
    build:
      context: "docker/dockerfiles/php"
      dockerfile: Dockerfile
    restart: always
    working_dir: /var/www
    volumes:
      - ./:/var/www
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - XDEBUG_MODE=${XDEBUG_MODE}
      - XDEBUG_CONFIG=${XDEBUG_CONFIG}
      - XDEBUG_CLIENT_HOST=${XDEBUG_CLIENT_HOST}
      - PHP_IDE_CONFIG=${PHP_IDE_CONFIG}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - DB_NAME=${DB_NAME}
    networks:
      - app-network

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./volumes/postgres:/var/lib/postgresql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge